:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body {
  background-color: white;
}
/**NAVBAR CSS**/
.nav{
  display: flex;
  background-color: black;
  gap: 15px;
}
.nav ul{
  display: flex;
  justify-content: flex-end;
  padding: 0;
}
.nav ul li{
  list-style: none;
  margin-right: 15px;
}
.nav ul li a{
  justify-content: space-between;
  text-decoration: none;
  color: aliceblue;
  font-family: 'Poppins', sans-serif;
  font: 300;
  margin-right: 15px;
}
.upload{
  border-radius: 5px;
  background-color: grey;
  margin-left: 90px;
}
.upload a{
  color: white;
  text-decoration: none;
  padding: 0 5px;
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
}
.logo{
  width: 55px;
  height: 55px;
  
}
.upload img{
  width: 10px;
  height: 10px;
}
.navigate{
  justify-content: flex-end;
}
.links{
  margin-left: 700px;
}
.links li a{
  padding: 20px 30px;
}
.links a {
  text-decoration: none;
  color: white;
  font-size: 18px;
  padding: 10px 0;
  transition: all 0.3s ease-in-out;
}
/**HOVER**/
a {
  text-decoration: none;
  position: relative;
  color: #000; /* Your link color */
}

/* Create the underline effect */
.links li a::after {
  content: '';
  position: absolute;
  width: 0;
  height: 2px; /* Line thickness */
  bottom: -2px;
  left: 0;
  background-color: darkred; /* Line color */
  transition: width 0.3s ease; /* Animation speed */
}

.links li a:hover::after {
  width: 100%;
}

.upload:hover {
  background: darkred;
}

/* Body with upload button and welcome text */
